@import url(fonts.css);
*,
*::before,
*::after{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{

    background-color:#B1B1B1 ;
}
.container{
    width: 1440px;
    background-color: #FFF;
    margin: 0 auto;
    font-size: 24px;
}
/*===============header===========*/
.header{
   width: 100%;   
}
.nav{
  
}
.nav__main{
    width: 486px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

.nav__item{
   
       
}

/*  main  style*/

.main{
    max-width: 1366px;
    min-height: 726px;
    background-color: #EAEBED;
    border-radius: 41px;
    display:flex;
    /* flex-direction: row; */

}

/* col1  nav-left  */

.main__col{
    display: flex;
    flex-direction: row;
}

.main .main__col .nav{
   width: 105px;
   height: 420px;
   background-color: #FEFEFE;
   margin: 0;
}

.nav__link img{
    display: block;
    width: 35px;
    height: 35px;
}

.main__col:nth-child(1){
    display: flex;
    align-items: center;
}

.main__col:nth-child(2){
    display: flex;
    flex-direction: column;
} 

 
 .main__col__row:nth-child(1){
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
}

.main__col__row:nth-child(2){
    display: flex;
/* flex-direction;     */
    justify-content: space-around;
} 
.main__col__row.col:nth-child(1){
    display: flex;
    flex-direction: column;
}

.main__col__block{
    width: 572px;
    height: 130px;
    background-color: #FEFEFE;
    border-radius: 30px;
}

.main__col__row.col{

    background-color: #FEFEFE;
}
.description,
.team{
    width: 720px;
    height: 194px;
}

/* main__col__row team */

.main__col__row img{
  width: 35px;
  margin: 15px;
}